---
layout: default
---

<h1>{{ data.title }}</h1>

{% render "event_description", event: data %}

<br>
<br>

<div class="flex gap-4 flex-wrap">
  {% if resource.next %}
    <a class="button decoration-none mr-auto" href="{{ resource.next.relative_url }}">Evento anterior</a>
  {% endif %}

  {% if resource.previous != nil and resource.previous.date < site.time %}
    <a class="button decoration-none ml-auto" href="{{ resource.previous.relative_url }}">Próximo evento</a>
  {% endif %}
</div>
