---
layout: default
---

<h1><%= data.title %></h1>

<%= render "event_description", event: data, site: site %>

<br>
<br>

<div class="flex gap-4 flex-wrap">
  <% if resource.next %>
    <a class="button decoration-none mr-auto" href="<%= resource.next.relative_url %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
      </svg>
      Evento anterior
    </a>
  <% end %>

  <% if resource.previous %>
    <a class="button decoration-none ml-auto" href="<%= resource.previous.relative_url %>">
      Próximo evento
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
      </svg>
    </a>
  <% end %>
</div>
