:root {
  --primary-color: #d30000;
  --primary-color-dark: #a00000;
  --primary-color-lighter: #ffe6e6;

  --pink: #D3006A;
  --pink-lighter: #ffe6f3;

  --light-gray: #e5e7eb;

  --body-background: var(--primary-color-lighter);
  --body-color: #333;
  --secondary-text-color: #3d3b3b;
  --heading-color: black;
  --action-color: var(--primary-color);

  --button-background: var(--primary-color-lighter);
  --button-border-color: var(--primary-color);

  --font-size-sm: 0.875rem;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: var(--action-color);
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

h4 {
  margin-bottom: 0.5rem;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

body > nav a {
  text-decoration: none;
}

body > nav a[aria-current="page"]::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: var(--action-color);
  border-radius: 50%;
  margin: 0 auto;
}

main {
  margin: 2rem auto 4rem;
  max-width: 55rem;
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 4px 0 var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

footer svg {
  width: 2rem;
  height: auto;
}

footer a:hover {
  color: var(--primary-color-dark);
}

hr {
  border: none;
  border-top: 2px dotted var(--action-color);
  margin: 3rem 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  margin-top: 0.5rem;
  font-size: var(--font-size-sm);
  color: var(--body-color);
  text-align: center;
  font-style: italic;
}

.event-picture {
  border: 2px solid black;
  box-shadow: 2px 2px 0 black;
}

.sponsors {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--button-border-color);
  border-radius: 9999px;
  font-weight: 700;
  color: var(--button-border-color);
  text-transform: uppercase;
  background: var(--button-background);
  transform-style: preserve-3d;
  transition: .15s cubic-bezier(0, 0, .6, 1);
  text-decoration: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--button-border-color);
  box-shadow: 0 0 0 2px var(--button-border-color);
  transform: translate3d(0, .4em, -1em);
  transition: .15s cubic-bezier(0, 0, .6, 1);
}

.button:hover {
  transform: translate(0, .15em);
}

.button:hover::before {
  transform: translate3d(0, .25em, -1em);
}

.button:active {
  transform: translate(0, .4em);
}

.button:active::before {
  transform: translate3d(0, 0, -1em);
}

.note {
  border-left: 4px solid var(--pink);
  padding: 0.1rem 1rem;
  background: var(--pink-lighter);
  border-radius: 0.25rem;
}

.event-timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  border-inline-start: 1px solid var(--light-gray);
  max-width: 95%;
}

.event-timeline li {
  margin-inline-start: 1.75rem;
  margin-bottom: 2rem;
}

.event-timeline li:last-child {
  margin-bottom: 0;
}

.event-timeline li span {
  position: absolute;
  margin-top: 3px;
  inset-inline-start: -0.875rem;
  display: flex;
  height: 1.75rem;
  width: 1.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--primary-color-lighter);
  color: var(--primary-color);
  box-shadow: 0 0.5rem 0 0 white, 0 -0.5rem 0 0 white;
}

.event-timeline li time {
  font-size: var(--font-size-sm);
  color: var(--secondary-text-color);
}

.circle {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 9999px;
  background-color: var(--primary-color-lighter);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.circle-large {
  max-width: 5rem;
  min-width: 5rem;
  height: 5rem;
  width: 100%;
}

.text-secondary {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: 300;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block { display: block; }
.decoration-none { text-decoration: none; }
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.font-bold { font-weight: 700; }
.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }
.gap-8 { gap: 2rem; }
.inline-flex { display: inline-flex; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-evenly { justify-content: space-evenly; }
.list-none { list-style-type: none; }
.list-roman { list-style-type: upper-roman; }
.m-0 { margin: 0; }
.max-h-80 { max-height: 20rem; }
.max-w-2xl { max-width: 42rem; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-8 { margin-bottom: 2rem; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mt-0 { margin-top: 0; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-8 { margin-top: 2rem; }
.my-8 { margin-top: 2rem; margin-bottom: 2rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.p-0 { padding: 0; }
.rounded-xl { border-radius: 0.75rem; }
.rounded-2xl { border-radius: 1rem; }
.rounded-full { border-radius: 9999px; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0; }
.text-center { text-align: center; }
.text-xl { font-size: 1.25rem; }
.w-fit { width: fit-content; }
.w-full { width: 100%; }
