<%
  current_page_url = if current_url == "/"
    current_url
  else
    current_url.sub(/\/$/, "")
  end
  
  aria_current = (current_page_url == href) ? "page" : nil
%>
<a aria-current="<%= aria_current %>" href="<%= relative_url(href) %>"><%= label %></a>
