{% if current_url == "/" %}
  {% assign current_page_url = current_url %}
{% else %}
  {% assign current_page_url = current_url | remove_last: "/" %}
{% endif %}

{% if current_page_url == href %}
  {% assign aria_current = "page" %}
{% else %}
  {% assign aria_current = nil %}
{% endif %}
<a aria-current="{{ aria_current }}" href="{{ href | relative_url }}">{{ label }}</a>
