<header>
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/logo-w-text2.svg' | relative_url }}" alt="Ruby DF logo" />
  </a>
</header>

<nav>
  <ul>
    <li>{% render "nav_link", current_url: resource.relative_url, href: "/events", label: "Eventos" %}</li>
    <li>{% render "nav_link", current_url: resource.relative_url, href: "/sponsoring", label: "Patrocínio" %}</li>
    <li>{% render "nav_link", current_url: resource.relative_url, href: "/about", label: "Sobre nós" %}</li>
  </ul>
</nav>
